---
const { link, class: className, buttonColor, buttonHover, borderRad } = Astro.props;
---
<style define:vars={{ buttonColor, buttonHover, borderRad }} >
	.genButtonContainer {
		text-decoration: none;

		position: relative;

        display: flex;
		flex-direction: row;
        align-items: center;

        width: 100%;
        height: 100%;

		border-radius: var(--borderRad);
		background: var(--buttonColor);

		transition: all 0.05s ease-in-out;
	}
    .genButtonContainer:hover {
        background-color: var(--buttonHover);
    }
</style>

<a class:list={['genButtonContainer', className]} href={link}>
	<slot />
</a>