---
const { location, text } = Astro.props;
---
<style>
    a {
        padding: 0 1rem;
		background: linear-gradient(to bottom, var(--col-bg-base), var(--col-bg-base));
		
		border-radius: inherit;
		color: inherit;

        width: 100%;
        height: 100%;
		position: relative;
		z-index: 2;

        display: flex;
        justify-content:center;
        align-items: center;

        font-weight: bold;
        text-decoration: none;

        transition: background-color .2s ease;
    }
	a::before {
		position: absolute;
		content: "";
		inset: 0; /* same as { top: 0; right: 0; bottom: 0; left: 0; } */
		background-image: linear-gradient(to bottom, var(--col-accent-half-transparent), var(--col-bg-base));
		z-index: -1;
		border-radius: inherit;
		opacity: 0;
		transition: opacity .1s ease-in-out;
	}
    a:hover::before {
		opacity: 1;
    }
    .currentPage::after {
        content: "";
        background: var(--col-accent);
        border-radius: 50px;
        width: 1rem;
        height: 0.3rem;
        position: absolute;
        bottom: -0.15rem;

        transition: width .3s ease-out;
    }
    .currentPage:hover::after {
        width: 2rem;
    }

</style>

<a class="headerButton" href={location}>{text}</a>