---
const { name, icon, username, link, buttonColor, buttonHover } = Astro.props;
---
<style define:vars={{ buttonColor, buttonHover }}>
    a {
        text-decoration: none;

        display: inline-block;

        width: 100%;
        height: 4rem;
    }
	div {
		position: relative;
		overflow: hidden;

        display: flex;
		flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

		border-radius: 0.75rem;
		background: var(--buttonColor);

		transition: all 0.1s ease-in-out;
	}
	p {
		margin: 0;
        color: #f5f5f5;
	}
	.icon {
		position: absolute;
		left: -0.75rem;
		top: 15%;

		object-fit:contain;
		object-position: top left;

		mask-image: linear-gradient(90deg, rgba(0, 0, 0, 0.80) 0%, transparent 90%);

		width: 10rem;
		height: 70%;

	}
	.platname {
		font-family: 'Comfortaa';
		font-weight: bold;
        font-size: 1.5rem;
	}
	.username {
		font-family: 'Bahnschrift';
		font-weight: 600;
        font-size: 1rem;
	}
    a:hover > div {
		width: calc(100% + 0.3rem);
		height: calc(100% + 0.3rem);
		margin: -0.15rem;
        background-color: var(--buttonHover);
    }
    a:active > div {
		width: calc(100% - 0.5rem);
		height: calc(100% - 0.5rem);
		margin: 0.25rem;
    }
</style>

<a href={link}>
	<div>
		<p class="platname">{name}</p>
		<p class="username">{username}</p>
		<img class="icon" src={icon} />
	</div>
</a>