@font-face {
    font-family: 'Segoe UI';
    src: url('/font/SegoeUI-VF.ttf') format('truetype-variations');
    font-weight: 300 700;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/font/Comfortaa-Variable.ttf') format('truetype-variations');
    font-weight: 300 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('/font/bahnschrift-var.ttf') format('truetype-variations');
    font-weight: 300 700;
	font-stretch: 75% 100%;
    font-style: normal;
}

:root {

	/* ---------------- */
	/* COLORS */
	--col-txt-L: #f5f5f5;
	--col-txt-D: #202020;

	--internal-col-warning: hsl(20, 79%, 74%);

	--internal-starter-h: 269;
	--internal-starter-s: 37%;
	--internal-starter-v: 20%;
	
	--col-txt-link: #d3c1ff;
	--col-txt-link-clicked: #a785fd;

	/* accent */
	--internal-col-accent: 269deg, 66%, 80%;
	--col-accent: hsl(var(--internal-col-accent));
	--col-accent-half-transparent: hsl(var(--internal-col-accent), 0.5);
	--col-accent-full-transparent: hsl(var(--internal-col-accent), 0);
	--col-txt-on-accent: var(--col-txt-invert);

	/* warning */
	--col-txt-on-warning: var(--col-txt-invert);

	/* special element colors */
	--col-bg-head-foot: #0000005d;

	/* background colors */
	--col-bg-base: hsl(var(--internal-starter-h), var(--internal-starter-s), var(--internal-starter-v));
	--col-bg-transparent: hsl(var(--internal-starter-h), var(--internal-starter-s), var(--internal-starter-v), 80%);
	--col-bg-darker-1: hsl(var(--internal-starter-h), calc(var(--internal-starter-s) + 3%), calc(var(--internal-starter-v) - 3%));
	--col-bg-darker-2: hsl(var(--internal-starter-h), calc(var(--internal-starter-s) + 6%), calc(var(--internal-starter-v) - 6%));
	--col-bg-lighter-1: hsl(var(--internal-starter-h), calc(var(--internal-starter-s) - 3%), calc(var(--internal-starter-v) + 3%));
	--col-bg-lighter-2: hsl(var(--internal-starter-h), calc(var(--internal-starter-s) - 6%), calc(var(--internal-starter-v) + 6%));

	/* ---------------- */
	/* OTHER */
    --font-body: 'Segoe UI', sans-serif;
	--font-header: 'Comfortaa', sans-serif;
	--font-din: 'Bahnschrift', sans-serif;

	--corner-base: 0.5rem;
	--corner-up-1: 0.2rem;
	--corner-down-1: 0.8rem;
}

/* root sizing/theming classes */
html {
    color: var(--col-txt-L);
    font-family: var(--font-body);
    background-color: var(--col-bg-base);
	background-image: url('/img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	background-attachment: fixed;
	margin: 0
}
body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1;

	height: 100%;
	width: 100%;
	margin: 0 auto;
	max-width: 120ch;
	padding: 1rem;
}
.contentBody {
	padding-right: 1rem;
}
* { box-sizing: border-box; }
p, ul, li, lic {	margin: 0;
	color: inherit;
	font-weight: inherit;
}
li { margin: 0.2rem 0; }
a { color: unset }
a:visited { color: unset }

/* positioning classes */
.align-left {
	display: flex;
	margin-right: auto;
}
.align-right {
	display: flex;
	margin-left: auto;
}
.align-center {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	flex-direction: row;
}

.w-full {
	width: 100%;
}
.h-full {
	height: 100%;
}

.mar-bottom {
	margin-bottom: 0.3rem;
}

.mar-paragraph {
	margin-bottom: 0.8rem;
}
.mar-box {
	margin-bottom: 1rem;
}


/* text classes */

.txt-h1 {
	font-weight: 700;
    font-size: 2.5rem;
}
.txt-h2 {
	font-weight: 700;
    font-size: 2rem;
}
.txt-h3 {
	font-weight: 700;
    font-size: 1.5rem;
}
.txt-h4 {
	font-weight: 700;
    font-size: 1.15rem;
}
.txt-h5 {
	font-weight: 700;
    font-size: 1rem;
}
.txt-h6 {
	font-weight: 700;
    font-size: 0.85rem;
}

.txt-small {
    font-size: 0.85rem;
}

.txt {
	color: var(--col-txt-L)
}
.txt-col-invert {
	color: var(--col-txt-D)
}
.txt-col-accent {
	color: var(--col-accent)
}
.txt-col-gray {
	color: #909090
}

.txt-bold {
	font-weight: 700;
}

.txt-font-header {
	font-family: var(--font-header);
}
.txt-font-din {
	font-family: var(--font-din);
}
.txt-left { text-align: start;}
.txt-right { text-align: end;}
.txt-center { text-align: center;}


/* main element classes */
.list-element {
	margin-bottom: 0.5rem;
}
.box {
	background-color: var(--col-bg-transparent);
	border-radius: var(--corner-down-1);
	border: 2px solid var(--col-bg-lighter-2);
	box-shadow: 0 0 5px 1px #00000090;
	backdrop-filter: blur(40px);
	padding: 1rem
}
.box-pad {
	padding: 1rem
}
.box-pad-small {
	padding: 0.4rem
}
.textShadow {
	text-shadow:
		1px 0 10px var(--buttonColor),
		0 -1px 10px var(--buttonColor),
		-1px 0 10px var(--buttonColor),
		0 1px 10px var(--buttonColor);
}

/* specific element classes */
.contentBody{
	width: calc(100% - 200px);
	height: 100%;
	float: left;
}
.contentSidebar{
	height: 100%;
	width: 200px;
	float: left;
}
.btn-padSmall {
	padding: 0.2rem 0.3rem
}
.socialButtonWrap {
	height: 2rem !important;
}
.currentPage::after {
	content: "";
	background: var(--col-accent);
	border-radius: 50px;
	width: 0.2rem;
	height: 0.6rem;
	position: absolute;
	left: -0.15rem;

	transition: height .3s ease-out;
}
.currentPage:hover::after {
	height: 1.2rem;
}
.genButtonContainer:last-child {
	margin-bottom: 0 !important;
}