---
const { title } = Astro.props;
---
<style>
	.cardFrame {
		width: 100%
	}

	.cardHeader{
		border-top-left-radius: var(--corner-base);
		border-top-right-radius: var(--corner-base);
		background-color: var(--col-accent);
		color: var(--col-txt-on-warning);
		
		height: 3rem;
		
		display: flex;
		align-items: center;
		padding: 0 1rem;
	}
	.cardHeader > h2 { margin: 0 }

	.cardContent{
		border-bottom-left-radius: var(--corner-base);
		border-bottom-right-radius: var(--corner-base);
		background-color: var(--col-bg-darker-1);
		padding: 0.5rem 1.5rem;

		word-wrap: break-word;
	}
	.cardHeader > p { width: 100% }

</style>

<div class="cardFrame">
	<div class="cardHeader">
		<h2>{title}</h2>
	</div>
	<div class="cardContent">
		<slot />
	<div/>
</div>