---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "home";
---

<!-- <script type="module" src="https://unpkg.com/@fluentui/web-components">
</script> -->

<BaseLayout pageTitle={pageTitle}>
	<h2>hey all, rin here</h2>
    <h3>minorly stupid and majorly silly</h3>
	<p>im doing trolling here soon</p>
</BaseLayout>