---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "home";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>hey all, rin here</h2>
    <h3>minorly stupid and majorly silly</h3>
	<p>this is a home page for something cool to come</p>
</BaseLayout>