---
import BaseButton from "./buttons/ButtonStd.astro";
---
<style>
    .textFrame p, .friendFrame p {
        margin: 0;
        font-weight: bold;
    }
    .friendFrame p {
        margin: 0 1rem;
    }
    .friendFrame h2 {
        margin: 0;
        font-weight: bold;
		align-self: center;
		margin-bottom: 0.3rem;
    }
    footer {
        padding: 1rem 0;
        background-color: var(--col-bg-head-foot);
        backdrop-filter: blur(10px);
		
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
	.friendButton {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2.5rem;
		padding: 0 0.3rem;
	}
	.nate1 {
		padding-right: 0.1rem;
	}
	.nate2 {
		padding-left: 0.1rem;
	}
    .textFrame {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
		width: 100%;
        max-width: 120ch;
    }
    .friendFrame {
        display: flex;
        flex-direction: column;
		align-items: center;
		width: 100%;
        max-width: 120ch;
		margin-bottom: 1rem;
    }
    .friendButtons {
        display: flex;
        flex-direction: row;
		align-content: center;
        justify-content: center;
		width: 100%;
    }
	.darkText {
		color: var(--col-txt-D)
	}
	.lightText {
		color: var(--col-txt-L)
	}
</style>

<footer>
    <div class="friendFrame">
		<h2 style="text-align: center">Some cool people: </h2>
		<div class='friendButtons'>
			<div class="friendButton nate1">
				<BaseButton link='https://www.aznate.tech/' buttonColor=#ffbf00 buttonHover=#b28500 borderRad="var(--corner-base) 0 0 var(--corner-base)">
					<p class='darkText' style="text-align: center">AzNate Tech</p>
				</BaseButton>
			</div>
			<div class="friendButton nate2">
				<BaseButton link='https://roads.aznate.tech/' buttonColor=#ffbf00 buttonHover=#b28500 borderRad="0 var(--corner-base) var(--corner-base) 0">
					<p class='darkText' style="text-align: center">Roads</p>
				</BaseButton>
			</div>
			<div class="friendButton">
				<BaseButton link='https://shedingtonian.neocities.org/' buttonColor=#eb343d buttonHover=#9e2329 borderRad="var(--corner-base)">
					<p class='lightText' style="text-align: center">Crescent</p>
				</BaseButton>
			</div>
		</div>
    </div>
    <div class="textFrame">
        <p style="text-align: start">made with astro</p>
        <p style="text-align: center">powered by the power of :3</p>
        <p style="text-align: end">part of the orbithub network</p>
    </div>
</footer>