<style>
    div, p {
        display: flex;
        justify-content: center;
    }
    p {
        margin: 0;
        font-weight: bold;
    }
    footer {
        padding: 0.5rem;
        background-color: #71578e50;
        backdrop-filter: blur(10px);
    }
</style>

<footer>
    <p>made with the power of :3</p>
</footer>