---
import HeaderButton from './buttons/HeaderButton.astro';
---
<style>
	/* THEME SWITCHING */

    a {
        text
        margin: 0.2em;
    }
    header {
        padding: 0.6rem 2rem 0 2rem;
        background-color: var(--col-bg-head-foot);
        backdrop-filter: blur(10px);
		
		display: flex;
		justify-content: center;
    }
    nav {
        position: relative;

		display: flex;
		flex-wrap: wrap;

        height: 100%;
        width: 100%;
        max-width: 120ch;
    }
    .leftAlign{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .rightAlign{
        display: flex;
		margin-left: auto;
    }

	.headerItem {
		height: 2.5rem;
        margin: 0 0.1rem;
	}
	.tab {
        border-radius: var(--corner-base) var(--corner-base) 0 0;
		min-width: 6rem;
		
        display: flex;
        justify-content:center;
        align-items: center;
    }

	input {
		z-index: 2;
	}

    .wip {
        margin-left: 0.5rem;
		background-color: var(--col-warning);

        min-width: 0;
		width: 7rem;

        color: var(--col-txt-on-warning);
    }
    h2, p {
        margin: 0;
    }

	@media screen and (max-width: 50rem) {
		.leftAlign, .rightAlign{
			width: 100%;
			justify-content: center;
		}

		.wip {
			border-radius: var(--corner-base);
			margin-bottom: 0.5rem;
		}
	}


</style>

<script>
    const curPage = window.location.pathname
    const selector = 'a[href="'+curPage+'"].headerButton'
    document.querySelectorAll(selector).forEach(function(ele, idx) {
        ele.classList.add('currentPage');
    });
</script>

<header>
    <nav>
        <div class="leftAlign">
            <img class="headerItem logo" src="/img/melogo.svg"></img>
		    <div class="headerItem wip tab"><h2>Site WIP</h2></div>
        </div>
        
        <div class="rightAlign">
            <div class="headerItem tab"><HeaderButton location="/" text="home" /></div>
			<div class="headerItem tab"><HeaderButton location="/thoughts/" text="thoughts (blog)" /></div>
			<div class="headerItem tab"><HeaderButton location="/gallery/" text="gallery" /></div>
			<div class="headerItem tab"><HeaderButton location="/fishe/" text="fish fan club" /></div>
        </div>
    </nav>
</header>