---
import HeaderButton from './buttons/HeaderButton.astro';
---
<style>
    nav {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        height: 100%;
    }
    a {
        text
        margin: 0.2em;
    }
    .logo {
        margin: 0.4rem 1rem;
    }
    header {
        padding-bottom: 0;
        background-color: #71578e50;
        backdrop-filter: blur(10px);
    }
</style>

<script>
    const curPage = window.location.pathname
    const selector = 'a[href="'+curPage+'"].headerButton'
    document.querySelectorAll(selector).forEach(function(ele, idx) {
        ele.classList.add('currentPage');
    });
</script>

<header>
    <nav>
        <img class="logo" src="/melogo.svg" height=45px />
        <HeaderButton location="/" text="home" class="homeBtn" />
        <HeaderButton location="/links/" text="my links" class="linksBtn" />
        <HeaderButton location="/thoughts/" text="thoughts" class="thoughtsBtn" />
        <HeaderButton location="/gallery/" text="gallery" class="galleryBtn" />
    </nav>
</header>